<div class="container-fluid">
  
  <div class="row mt-2">
    <div class="col-12">
      <router-outlet></router-outlet>
     
    </div>
  </div>
  
<footer style="margin-top:10px;">
  <div class="row  bg bg-dark">
      <div class="col align-self-center">
          <h3 style="color:white;text-align:center">Connect with us at:</h3>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-1-sm align-self-center justify-content-around">
          <a href="https://www.facebook.com"> <span class="fa fa-facebook fa-3x"></span></a>
      </div>
      <div class="col-1-sm align-self-center justify-content-around offset-1">
          <a href="https://www.twitter.com"> <span class="fa fa-twitter fa-3x"></span></a>
      </div>
      <div class="col-1-sm align-self-center justify-content-around offset-1">
          <a href="https://www.instagram.com"> <span class="fa fa-instagram fa-3x"></span></a>
      </div>
      <div class="col-1-sm align-self-center justify-content-around offset-1">
          <a href="https://www.youtube.com"> <span class="fa fa-youtube fa-3x"></span></a>
      </div>
  </div>
</footer>
  
</div>